*.vhd
*.vhdx
*.iso
*.exe
*.log
__pycache__
*.pyc
archive/
*.tar.gz
*.zip
*.bak
*.tmp
*.swp
*.swo
*.env
*.local
.DS_Store
*.qcow2
*.img
*.raw
*.bin
*.cache
*.out
*.o
*.txt
*.tar
*.gz
*.tar.bz2
*.7z
*.tar.gz
*.rom
*.vmdk
*.vdi
*.vhd
*.vhdx
*.iso
*.exe
*.log
__pycache__
*.pyc
*.rpm
*.bin
*.deb
*.msi
*.dmg
*.pkg
*.apk
*.app
*.dll
*.zip
*.tar.gz
*.tar.bz2


